#todo{
	border: 0px solid blue;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
table, th, td {
	background-color: #f4fff0;
	border: 1px solid red;
	border-radius: 5px;
	width: 400px;
	font-family: 'Arial';

}
#titulo, #boton{
	text-align: center;
}
#texto{
	text-align: right;
}
body{
	/*background-color: rgb(88, 198, 170);*/
	background-color: #eeedee;
}