#todo{
	border: 1px solid blue;
	width: 800px;
	margin-left: auto;
	margin-right: auto;

}
table, th, td {
	background-color: #fff0ff;
	border: 1px solid red;
	border-radius: 5px;
	width: 400px;
	font-family: 'Arial';
}
#titulo, #boton{
	text-align: center;
}
#texto{
	text-align: right;
}
body{
	background-color: #eeedee;
	border: solid 1px;
}

div{
	border: solid 1px;
	text-align: center;
}